<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>登录 - JMoocTest</title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="__PUBLIC__/favicon.ico"> 
    <link rel="stylesheet" href="__ADMIN__/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="__ADMIN__/css/login.css">
    <link href="__ADMIN__/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__ADMIN__/css/style.css?v=4.1.0" rel="stylesheet">
</head>

<body>

    <canvas id="dot"></canvas>

    <form class="layui-form login">
            <h1>JMoocTest</h1>

            <div class="layui-form-item">
                <input type="text" name="stuNumber"  required lay-verify="required|num|xuehao" placeholder="正方学号" autocomplete="off" class="layui-input">
            </div>

            <div class="layui-form-item">
                <input type="password" name="password"  required lay-verify="required|pass" placeholder="密码" autocomplete="off" class="layui-input">
            </div>

            <div class="layui-form-item">
                <div class=" captcha-input">
                    <input type="text" name="code"  required lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input">
                </div>
                <div class="captcha-img">
                    <img src="__CONTROLLER__/verifyImg" alt="验证码加载失败" title="点击刷新验证码" >
                </div>
            </div>

            <div class="layui-form-item">
                <button class="layui-btn submit_btn" lay-submit lay-filter="login">登录</button>
            </div>

            <div class="layui-form-item" >
                <div style="float:left;"> <a data-toggle="modal" href="#reg"> 注册  </a> </div>
                <div style="float:right;"><a data-toggle="modal" href="#forget"> 忘记密码>>  </a></div>
            </div>

        </form>

    <!--弹出注册表单-->
    <div id="reg" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <h3 class="m-t-none m-b"> 注册</h3>
                            <div class="hr-line-dashed"></div>
                            <form role="form" method="post" action="__CONTROLLER__/register">
                                <div class="form-group">
                                    <label>正方学号：</label>
                                    <input type="text" name="rnum">
                                </div>
                                <div class="form-group">
                                    <label>正方密码：</label>
                                    <input type="password" name="rpwd">
                                </div>
                                <div class="form-group" style="padding-left: 25px;">
                                    <label>线路：</label>
                                    <input type="radio" name="line" value="116" checked="checked">116 &nbsp;
                                    <input type="radio" name="line" value="118" >118
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>确定</strong>
                                    </button>
                                </div>
                            </form>
                            <br>
                        </div>
                        <div class="col-sm-6">
                            <h4>请注意</h4>
                            <p>JMoocTest需要您提供正方学号及密码，用来<b>爬虫注册此系统</b>。</p>
                            <h1 class="text-center">
                                <span class="glyphicon glyphicon-exclamation-sign" style="color:#F33"></span>
                            </h1>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--弹出忘记密码表单-->
    <div id="forget" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <h3 class="m-t-none m-b"> 重置为正方密码</h3>
                            <div class="hr-line-dashed"></div>
                            <form role="form" method="post" action="__CONTROLLER__/forgetpwd">
                                <div class="form-group">
                                    <label>正方学号：</label>
                                    <input type="text" name="fnumb">
                                </div>
                                <div class="form-group">
                                    <label>正方密码：</label>
                                    <input type="password" name="fpwd">
                                </div>
                                <div class="form-group" style="padding-left: 25px;">
                                    <label>线路：</label>
                                    <input type="radio" name="line" value="116" checked="checked">116 &nbsp;
                                    <input type="radio" name="line" value="118" >118
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>确定</strong>
                                    </button>
                                </div>
                            </form>
                            <br>
                        </div>
                        <div class="col-sm-6">
                            <h4>请注意</h4>
                            <p>JMoocTest需要您提供正方学号及密码，用来<b>替换当前系统的密码</b>。</p>
                            <p>重置成功后，即可使用正方密码登录本系统。</p>
                            <h1 class="text-center">
                                <span class="glyphicon glyphicon-exclamation-sign" style="color:#F33"></span>
                            </h1>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="__ADMIN__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__ADMIN__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__ADMIN__/plugins/layui/layui.js"></script>
    <script src="__ADMIN__/plugins/dot/js/dot.min.js"></script>
    <script type="text/javascript">
        // 加载点线动画
        Dot("dot", {
            cW: window.screen.width,
            cH: window.screen.height
        });

        layui.use(['form', 'layer'], function () {
            var form = layui.form
                , layer = layui.layer
                , $ = layui.jquery;

            //登录按钮事件
            form.on('submit(login)', function (data) {
                $.post('__SELF__', data.field, function (res) {
                    if (res.status == 1) {
                        window.location = '__MODULE__/index/index';
                    } else {
                        layer.msg(res.info, { icon: 5, time: 800 });
                        $('.login .captcha-img img').trigger('click');
                        $("input[name='code']").val('');
                    }
                });
                return false;
            });

            // 点击图片刷新验证码
            $('.login .captcha-img img').click(function () {
                this.src = '__CONTROLLER__/verifyImg/' + Math.random();
            });

            form.verify({
              num:[
                /^[\d]{9}$/
                ,'学号必须9位数字'
              ]
               ,xuehao: function(value, item){ //value：表单的值、item：表单的DOM对象
                  if(value < 130000000){
                    return '学号错误';
                  }
                }
              ,pass: [
                /^[\S]{6,16}$/
                ,'密码必须6到16位'
              ] 
            });

        });
    </script>

</body>

</html>